 /* This file contains CSS styles */
 *{
    box-sizing: border-box; 
    margin:0;
 }

 body *{
     overflow: hidden;
 }

 .technical-main{
    max-width: 100vw;
    height:100vh;
    position: relative;

    background: rgb(0,58,171);
    background: linear-gradient(5deg, #710519 0%, rgb(0, 0, 0) 84%);

 }
 .technical-main .heading p{
    font-family: Target-Laser;
    font-size: 3rem;
    letter-spacing: 3px;

    background-image: linear-gradient(66deg,#b4b4b6, #fffeef, #e47997);
    background-size: 100%;
    
 }

.cultural-main{
    height:100vh;
    max-width:100vw;
    position: relative;

    background: rgb(0,58,171);
    background: linear-gradient(5deg, rgba(0,58,171,1) 0%, rgba(123,23,41,1) 84%);
}

.heading{
    color: white;
    text-transform: uppercase;
    width: 100%;
}
.heading p{
    position: absolute;
    font-size: 3.8em;
    left:6%;
    top:16%;
    font-family: osaka;
    line-height: 60px;

    background-image: linear-gradient(46deg,#c0c0f6, #d0ceb4, #91d9e9);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.logo_petr{
    position: absolute;
    right:10px;
    top:0px;
}
.logo_petr img{
    width:4.5vw;
    min-width: 44px;
    height:auto;
}

.music-anim{
    margin-top: 30px;
    margin-left: 2vw;

}

.ukulele-anim
{
    position: absolute;
    right:0px;
    bottom:-4px;
}

.ukulele-main{
    transform: translateX(5vw);
}

.equalizer-anim{
    transform: rotate(90deg);
    position: absolute;
    left:-255px;
    bottom:80px;
}

.equalizer-main{
    transform: translate(-40px,10px);
    opacity: 0.3;
}

.event-btn-div{
    z-index: 100;
    position: absolute;
    bottom: 8vw;
    left: 12vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.technical-main .event-btn-div{
    right: 12vw;
    left: unset;
}



a.event-btn{
    font-size: 25px;
    text-align: center;
    width: 140px;
    height:52px;
    border-radius: 46px;
    border-width: 1.5px;
    color: rgb(221, 34, 34);

    display: flex;
    align-items: center;
    justify-content: center;

}

.technical-main a.event-btn{
    color:white;
    border-radius:10px ;
    border-color: white;
    transition: border-color 0.5s, border-width 0.5s, color 0.5s;
}

.technical-main a.event-btn:hover{
    color:rgb(243, 135, 135);
    border-radius:10px ;
    border-width: 2.5px;
    border-color: rgb(204, 126, 126);
    background-color: rgba(0, 0, 0,0.1);
}

@media screen and (max-width:360px){
    .heading p{
        font-size: 16vw;
        line-height: 15vw;
    }
    .technical-main .heading p{
        font-size: 15vw;
        line-height: 15vw;
    }
}

@media screen and (max-width:620px){
    .logo_petr{
        display: none;
    }

    .ukulele-main{
        transform: translateX(0);
    }

    .heading p{
        transform: translateY(-9vw);
    }

}
